#result {
  width: 304px;
  height: 304px;
  
  &.correct {
    background: url(../img/correct.jpg) center center;
    background-repeat: no-repeat;
  }
  &.incorrect {
    background-image: url(../img/incorrect.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
