#wrapper {
  box-sizing: border-box;
  width: 450px;
  height: 451px;
  border-radius: 25px;
  padding: 24px 24px 36px;
  background-color: $default-bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.correct {
    background-color: $correct-bg-color;
  }
  &.incorrect {
    background-color: $incorrect-bg-color;
  }
}