@import url('https://fonts.googleapis.com/css?family=Fahkwang');
@import 'variables';
@import 'wrapper';
@import 'results';
@import 'form';
body {
  font-family: $main-font-family;
}

h1 {
  color: $black;
  font-size: 48px;
  font-weight: $main-font-weigh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}