@import url('https://fonts.googleapis.com/css?family=Fahkwang');
body {
  font-family: 'Fahkwang', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  border-radius: 25px;
  padding: 25px 24px 36px;
  background-color: #d4d4d4;
}

#result {
  width: 450px;
  height: 451px;
}

#result.correct {
  background: url(../img/correct.jpg) center center;
  background-repeat: no-repeat;
  background-color: #85d179;
}

#result.incorrect {
  background-image: url(../img/incorrect.jpg);
  background-repeat: no-repeat;
}
